
.user-details-wrapper {
    transition: transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53),
    opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

    transform-origin: center;
}

.user-details-wrapper.deleting {
    transform: scale(0.6);

    opacity: 0;
}